.window.scroreboard table {
    width: 100%;
}

.window.scroreboard .window-body {
    max-height: calc(100vh - 252px);
    margin-top: 16px;
    overflow-y: auto;
}

.window.scroreboard table td {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    text-align: right;
}
.window.scroreboard table td:first-of-type {
    text-align: left;
    padding-left: 0px;
}
