.window.upload {
    grid-row: span 2;
}

.window.upload .window-body {
    position: relative;
}

.window.upload .error-message {
    position: absolute;
    top: -36px;
    right: 0;
    color: #ff5757;
    font-weight: bold;
}

.window.upload .history {
    height: calc(100vh - 200px);
    overflow-y: auto;
    border: 1px solid #333;
    padding: 0 12px;
    margin-top: 24px;
    color: #65ca65;
}

.window.upload .button {
    margin-top: 16px;
}

@media (max-width: 800px) {
    .window.upload .history {
        height: calc(100vh - 332px);
        width: calc(100vw - 114px);
        overflow-x: hidden;
    }

    .window.upload .history p {
        font-size: 10px;
        margin: 4px 0;
    }

    .window.upload .error-message {
        top: -12px;
        padding: 8px;
        border-radius: 3px;
        background-color: rgba(127, 80, 80);
    }
}