.button {
    outline: none;
    border: none;
    text-decoration: none;
    display: block;
    position: relative;
    padding: 6px 18px;
    background-color: #65ca65;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.button:active {
    background-color: #70d370;
}
