.progress-canvas {
    margin-top: 12px;
    overflow: hidden;
    border-radius: 4px;
}

progress {
    display: block;
    width: 101%;
    height: 8px;
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
}

progress.active {
    visibility: visible;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: #5daeff;
}

progress#progress-hash::-webkit-progress-value {
    background-color: #65ca65;
}
